<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin:0;
            padding:0;

        }
         .detail{
             width: 100%;
             height: 100%;
             background-color: rgba(7, 17, 27, 0.8);
             display: flex;
             flex-flow: column;
             min-height: 100vh;
         }
        .detail-main{
            flex: 1;
        }
        .detail-close{
            flex:0;
            width:32px;
            height:32px;
            margin:0 auto;
        }
    </style>
</head>
<body>
<div class="detail">

        <div class="detail-main">
        </div>

    <div class="detail-close">
        <i class="close-icon">X</i>
    </div>
</div>
</body>
</html>